openapi: 3.1.0

info:
  title: Gravatar Public API (MyGravatar – Personalized)
  version: 3.0.0
  description: |
    Cleaned, risk-mitigated, and personalized version of Gravatar's public API.
    All example URLs replaced with the repository owner's real profiles.
    
    Owner: AnticipatedD (mdabul1008)
    Gravatar: https://gravatar.com/mdabul1008
    GitHub: https://github.com/AnticipatedD
    X: https://x.com/harigov63
    LinkedIn: https://www.linkedin.com/in/mdabul1008
    Contact: https://anticipatedd.github.io/mdhossain
  contact:
    name: AnticipatedD
    url: https://gravatar.com/mdabul1008

servers:
  - url: https://api.gravatar.com/v3
    description: Production server

tags:
  - name: profiles
    description: Operations about user profiles
  - name: avatars
    description: Operations about user avatars
  - name: qr-code
    description: Operations about QR codes
  - name: experimental
    description: Experimental operations that might be subject to change. Use with caution.

components:
  headers:
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period.
      schema:
        type: integer
    X-RateLimit-Reset:
      description: The time at which the current rate limit period resets (Unix timestamp).
      schema:
        type: integer

  schemas:
    Avatar:
      type: object
      description: An avatar that the user has already uploaded to their Gravatar account.
      required:
        - image_id
        - image_url
        - rating
        - updated_date
        - alt_text
      properties:
        image_id:
          type: string
          description: Unique identifier for the image.
          examples:
            - "38be15a98a2bbc40df69172a2a8349"
        image_url:
          type: string
          format: uri
          description: Image URL
          examples:
            - "https://gravatar.com/mdabul1008"
        rating:
          $ref: '#/components/schemas/Rating'
        alt_text:
          type: string
          description: Alternative text description of the image.
          examples:
            - "Avatar of AnticipatedD (mdabul1008)"
        selected:
          type: boolean
          description: Whether the image is currently selected as the avatar for the provided email.
          examples:
            - true
        updated_date:
          type: string
          format: date-time
          description: Date and time when the image was last updated.
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2021-10-01T12:00:00Z"

    Rating:
      type: string
      description: Rating associated with the image.
      enum:
        - G
        - PG
        - R
        - X

    Link:
      type: object
      description: A link the user has added to their profile.
      required:
        - label
        - url
      properties:
        label:
          type: string
          description: The label for the link.
          examples:
            - "GitHub"
            - "X (Twitter)"
            - "LinkedIn"
            - "Contact Page"
        url:
          type: string
          format: uri
          description: The URL to the link.
          examples:
            - "https://github.com/AnticipatedD"
            - "https://x.com/harigov63"
            - "https://www.linkedin.com/in/mdabul1008"
            - "https://anticipatedd.github.io/mdhossain"

    Interest:
      type: object
      description: An interest the user has added to their profile.
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: integer
          description: The unique identifier for the interest.
          examples:
            - 1
        name:
          type: string
          description: The name of the interest.
          examples:
            - "quantitative finance"
            - "machine learning"
        slug:
          type: string
          description: The slug representing the interest.
          examples:
            - "1-quantitative-finance"

    CryptoWalletAddress:
      type: object
      description: A crypto currency wallet address the user accepts.
      required:
        - label
        - address
      properties:
        label:
          type: string
          description: The label for the crypto currency.
          examples:
            - "ETH"
            - "BTC"
        address:
          type: string
          description: The wallet address.
          examples:
            - "0xABC123..."

    VerifiedAccount:
      type: object
      description: A verified account on a user's profile.
      required:
        - service_type
        - service_label
        - service_icon
        - url
        - is_hidden
      properties:
        service_type:
          type: string
          description: The type of the service.
          examples:
            - "github"
            - "twitter"
            - "linkedin"
        service_label:
          type: string
          description: The name of the service.
          examples:
            - "GitHub"
            - "X"
            - "LinkedIn"
        service_icon:
          type: string
          format: uri
          description: The URL to the service's icon.
          examples:
            - "https://gravatar.com/icons/github.svg"
        url:
          type: string
          format: uri
          description: The URL to the user's profile on the service.
          examples:
            - "https://github.com/AnticipatedD"
            - "https://x.com/harigov63"
            - "https://www.linkedin.com/in/mdabul1008"
        is_hidden:
          type: boolean
          description: Whether the verified account is hidden from the profile.
          examples:
            - false

    GalleryImage:
      type: object
      description: A gallery image a user has uploaded.
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: The URL to the image.
          examples:
            - "https://gravatar.com/mdabul1008"
        alt_text:
          type: string
          description: The image alt text.
          examples:
            - "Profile gallery image of AnticipatedD"

    Language:
      type: object
      description: Languages the user knows (authenticated requests only).
      required:
        - code
        - name
        - is_primary
        - order
      properties:
        code:
          type: string
          examples:
            - "en"
        name:
          type: string
          examples:
            - "English"
        is_primary:
          type: boolean
          examples:
            - true
        order:
          type: integer
          examples:
            - 1

    Profile:
      type: object
      description: A user's profile information.
      required:
        - hash
        - display_name
        - profile_url
        - avatar_url
        - avatar_alt_text
        - location
        - description
        - job_title
        - company
        - verified_accounts
        - pronunciation
        - pronouns
      properties:
        user_id:
          type: integer
          description: Unique user ID (OAuth2 authenticated requests only).
        user_login:
          type: string
          description: User's login name (OAuth2 authenticated requests only).
          examples:
            - "mdabul1008"
        hash:
          type: string
          description: SHA256 hash of the user's primary email address.
        display_name:
          type: string
          description: The user's display name.
          examples:
            - "AnticipatedD"
        profile_url:
          type: string
          format: uri
          description: Full URL for the user's profile.
          examples:
            - "https://gravatar.com/mdabul1008"
        avatar_url:
          type: string
          format: uri
          description: URL for the user's avatar image.
          examples:
            - "https://gravatar.com/mdabul1008"
        avatar_alt_text:
          type: string
          description: Alt text for the avatar.
          examples:
            - "Avatar of AnticipatedD (mdabul1008)"
        location:
          type: string
          examples:
            - ""
        description:
          type: string
          description: About section.
          examples:
            - "Quantitative researcher | AlphaNova competitor | Building robust cross-sectional signals"
        job_title:
          type: string
          examples:
            - "Quantitative Researcher"
        company:
          type: string
          examples:
            - ""
        verified_accounts:
          type: array
          items:
            $ref: '#/components/schemas/VerifiedAccount'
        pronunciation:
          type: string
          examples:
            - ""
        pronouns:
          type: string
          examples:
            - ""
        timezone:
          type: string
          description: Only available in authenticated requests.
        languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
        first_name:
          type: string
          description: Only available in authenticated requests.
        last_name:
          type: string
          description: Only available in authenticated requests.
        is_organization:
          type: boolean
          description: Only available in authenticated requests.
        header_image:
          type: string
        hide_default_header_image:
          type: boolean
        background_color:
          type: string
          examples:
            - "rgb(227, 234, 252)"
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        interests:
          type: array
          items:
            $ref: '#/components/schemas/Interest'
        payments:
          type: object
          required:
            - links
            - crypto_wallets
          properties:
            links:
              type: array
              items:
                $ref: '#/components/schemas/Link'
            crypto_wallets:
              type: array
              items:
                $ref: '#/components/schemas/CryptoWalletAddress'
        contact_info:
          type: object
          properties:
            home_phone:
              type: string
            work_phone:
              type: string
            cell_phone:
              type: string
            email:
              type: string
              format: email
            contact_form:
              type: string
              format: uri
              examples:
                - "https://anticipatedd.github.io/mdhossain"
            calendar:
              type: string
              format: uri
        gallery:
          type: array
          items:
            $ref: '#/components/schemas/GalleryImage'
        number_verified_accounts:
          type: integer
        last_profile_edit:
          type: ["string", "null"]
          format: date-time
        registration_date:
          type: ["string", "null"]
          format: date-time
        section_visibility:
          type: object
          properties:
            hidden_contact_info:
              type: boolean
            hidden_feeds:
              type: boolean
            hidden_links:
              type: boolean
            hidden_interests:
              type: boolean
            hidden_wallet:
              type: boolean
            hidden_photos:
              type: boolean
            hidden_verified_accounts:
              type: boolean

    AssociatedResponse:
      type: object
      required:
        - associated
      properties:
        associated:
          type: boolean
          examples:
            - true

    Error:
      type: object
      description: An error response from the API.
      required:
        - error
      properties:
        error:
          type: string
        code:
          type: string

  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: Bearer token. Full profile information is only available in authenticated requests.
    oauth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://public-api.wordpress.com/oauth2/authorize
          scopes: {}
      description: WordPress OAuth token.

  responses:
    not_authorized:
      description: Not Authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            unauthorized:
              value:
                error: "You are not authorized to perform this action"

    insufficient_scope:
      description: Insufficient Scope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            insufficient_scope:
              value:
                code: "insufficient_scope"
                error: "The provided token does not contain the required scope for this request."

    rate_limit_exceeded:
      description: Rate Limit Exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            rate_limit_exceeded:
              value:
                error: "Rate limit exceeded"
                code: "rate_limit_exceeded"

paths:
  /profiles/{profileIdentifier}:
    get:
      summary: Get profile by identifier
      description: Returns a profile by the given identifier (SHA256 hash of email or profile slug).
      tags:
        - profiles
      operationId: getProfileById
      parameters:
        - name: profileIdentifier
          in: path
          required: true
          description: SHA256 hash of an email address or profile URL slug (e.g. mdabul1008)
          schema:
            type: string
      security:
        - apiKey: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '404':
          description: Profile not found
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
        '500':
          description: Internal server error

  /profiles/search/by-verified-account:
    get:
      summary: Search for profiles by verified account username
      description: |
        Experimental endpoint. Searches Gravatar profiles that have a verified account with the given username.
        Optionally filter by service. Results are paginated.
      tags:
        - experimental
      operationId: searchProfilesByVerifiedAccount
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
        - name: service
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      security:
        - apiKey: []
      responses:
        '200':
          description: List of matching profiles
          content:
            application/json:
              schema:
                type: object
                required:
                  - profiles
                  - total_pages
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
                  total_pages:
                    type: integer
        '400':
          description: Missing or invalid parameters
        '401':
          $ref: '#/components/responses/not_authorized'
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
        '500':
          description: Internal server error

  /verified-accounts/services:
    get:
      summary: Get list of services supported as verified accounts
      description: Returns the list of verified account services (experimental).
      tags:
        - experimental
      operationId: getVerifiedAccountServices
      responses:
        '200':
          description: Supported verified account services
          content:
            application/json:
              schema:
                type: object
                required:
                  - services
                properties:
                  services:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - label
                      properties:
                        id:
                          type: string
                          examples:
                            - "github"
                            - "twitter"
                            - "linkedin"
                        label:
                          type: string
                          examples:
                            - "GitHub"
                            - "X"
                            - "LinkedIn"
        '500':
          description: Internal server error

  /qr-code/{sha256_hash}:
    get:
      summary: Get QR code for an email address profile
      description: Returns a QR code for the given SHA256 hash.
      tags:
        - qr-code
      operationId: getQrCodeBySha256Hash
      parameters:
        - name: sha256_hash
          in: path
          required: true
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
        - name: version
          in: query
          required: false
          schema:
            type: string
        - name: utm_medium
          in: query
          required: false
          schema:
            type: string
        - name: utm_campaign
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
            description: "user | gravatar | none"
      responses:
        '200':
          description: Successful response
          headers:
            X-Gravatar-Profile-Status:
              description: "enabled | disabled | not-found"
              schema:
                type: string
          content:
            image/png:
              schema:
                type: string
                format: binary
        '429':
          $ref: '#/components/responses/rate_limit_exceeded'
        '500':
          description: Internal server error

  /me/profile:
    get:
      summary: Get profile information for the authenticated user
      tags:
        - profiles
      operationId: getProfile
      security:
        - oauth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'
        '404':
          description: Profile is disabled

    patch:
      summary: Update profile information for the authenticated user
      tags:
        - profiles
      operationId: updateProfile
      security:
        - oauth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                display_name:
                  type: string
                description:
                  type: string
                pronunciation:
                  type: string
                pronouns:
                  type: string
                location:
                  type: string
                job_title:
                  type: string
                company:
                  type: string
                cell_phone:
                  type: string
                contact_email:
                  type: string
                hidden_contact_info:
                  type: boolean
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Invalid request
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'
        '404':
          description: Profile is disabled

  /me/associated-email:
    get:
      summary: Check if the email is associated with the authenticated user
      tags:
        - profiles
      operationId: associatedEmail
      security:
        - oauth: []
      parameters:
        - name: email_hash
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Association status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociatedResponse'
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'

  /me/avatars:
    get:
      summary: List avatars
      tags:
        - avatars
      operationId: getAvatars
      security:
        - oauth: []
      parameters:
        - name: selected_email_hash
          in: query
          schema:
            type: string
            default: ""
      responses:
        '200':
          description: Successful retrieval of avatars
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Avatar'
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'

    post:
      summary: Upload new avatar image
      tags:
        - avatars
      operationId: uploadAvatar
      security:
        - oauth: []
      parameters:
        - name: selected_email_hash
          in: query
          schema:
            type: string
        - name: select_avatar
          in: query
          schema:
            type: ["boolean", "null"]
            default: null
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
        '400':
          description: Invalid request
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'

  /me/avatars/{imageHash}:
    delete:
      summary: Delete avatar
      tags:
        - avatars
      operationId: deleteAvatar
      security:
        - oauth: []
      parameters:
        - name: imageHash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Avatar deleted successfully
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'
        '404':
          description: Avatar not found

    patch:
      summary: Update avatar data
      tags:
        - avatars
      operationId: updateAvatar
      security:
        - oauth: []
      parameters:
        - name: imageHash
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  $ref: '#/components/schemas/Rating'
                alt_text:
                  type: string
      responses:
        '200':
          description: Avatar updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'
        '404':
          description: Avatar not found

  /me/avatars/{imageId}/email:
    post:
      summary: Set avatar for the hashed email
      tags:
        - avatars
      operationId: setEmailAvatar
      security:
        - oauth: []
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email_hash
              properties:
                email_hash:
                  type: string
      responses:
        '200':
          description: Avatar successfully set
        '401':
          $ref: '#/components/responses/not_authorized'
        '403':
          $ref: '#/components/responses/insufficient_scope'
